.Game {
  background-color: #ecf1f9 !important;
  width: 97vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Mini-Map {
  display: flex;
  justify-content: center;
  background-color: #ecf1f9;
}

.button-game {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.brand {
  color: #ffffff !important;
  margin-right: 100px !important;
  margin-left: 20px;
  /* border: 1px solid; */
  border-radius: 20px;
  background-color: #a5aed5 !important;
}

.navbar {
  background-color: #ecf1f9 !important;
  height: 6.5em;
  font-family: "Lato", sans-serif !important;
}

.login {
  color: #a5aed5 !important;
  background-color: #ffffff !important;
  border-radius: 20px !important;
  border: 2px solid #a5aed5 !important;
  margin-right: 20px;
}

.playbutton {
  color: #ffffff !important;
  background-color: #a5aed5 !important;
  border-radius: 20px !important;
  border: 2px solid #ffffff !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  margin-left: 195px !important;
}

.footer {
  background-color: #ecf1f9 !important;
  font-family: "Lato", sans-serif !important;
}

.cardgroup {
  padding: 2em !important;
  padding-top: 0.5em !important;
  border: none !important;
}

.cardfooter {
  display: flex;
  justify-content: space-between;
}

.cardbody {
  display: flex;
  justify-content: left;
}

.button-f1,
.button-f2 {
  color: #a5aed5 !important;
  background-color: #ffffff !important;
  border-radius: 20px !important;
  border: 2px solid #a5aed5 !important;
  margin: 5px;
}

a {
  color: #a5aed5 !important;
  text-decoration: none !important;
}

.mx-1 {
  color: #8191da !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
  border-radius: 20px !important;
  border: 2px solid #8191da !important;
}

.resultmap {
  background-color: #ecf1f9;
}

.resultbutton {
  margin-left: 875px !important;
  color: #8191da !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
  border-radius: 20px !important;
  border: 2px solid #8191da !important;
}

.resultmessage {
  display: flex;
  justify-content: center;
  color: #8191da !important;
  font-weight: bold !important;
}
